# Oauth Parameters
NYCU_OAUTH_ID   = ""
NYCU_OAUTH_KEY  = ""
NYCU_OAUTH_RURL = ""

#MySQL Parameters
MYSQL_HOST = r"172.21.21.2"
MYSQL_USER = r"nycu_me"
MYSQL_PSWD = r"abc123"
MYSQL_DB   = r"nycu_me_dns"

#JWT Secret Key
JWT_SECRET   = r"abc123"

#DDNS
DDNS_KEY     = r"/etc/ddnskey.conf"
DDNS_SERVER  = r"172.21.21.3"
DDNS_ZONE    = r"nycu-dev.me"

#ElasticSearch
ELASTICSERVER="http://172.21.21.7:9200"
ELASTICUSER="elastic"
ELASTICPASS="abc123"

#Email
SMTP_SERVER = r""
SMTP_PORT   = 25
SMTP_USER   = r""
SMTP_PASS   = r""
SMTP_FROM   = r""

#General
HOST_DOMAINS = [r"*.nycu-dev.me"]
BASE_URL = r"https://nycu-dev.me/"
